.our-offers {
  padding: 60px 20px;
  text-align: center;
  background-color: #f5f5f5;
}

.our-offers h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.our-offers p {
  font-size: 1rem;
  color: #1e1c1c;
  margin-bottom: 30px;
}

.our-offers  h4{
  font-size: 1rem;
  color: #3e3a3a;
  margin-bottom: 30px;
  
}

.offers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  justify-items: center;
}

.offers-card {
  padding: 30px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 8px 20px rgba(84, 78, 78, 0.377);
  max-width: 370;
  transition: transform 0.3s ease;
}

.offers-card:hover {
  transform: translateY(-6px);
}

.offers-card h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.offers-card p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: white;
}
